* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.primary-color {
    color: #E55473;
}

.banner {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 50px 240px 0px;
    background-color: rgba(229, 84, 115, 0.10);

}

.banner-title {
    color: #272727;
    font-size: 79px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.banner-image {
    width: 630px;
}

.btn {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.featured-text {
    text-align: center;
    padding-top: 180px;
    padding-bottom: 48px;
}

.featured-text>h1 {
    padding-bottom: 24px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.featured-text>p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 48px;
}

.featured-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 12px;
}

.featured-card-1>img {
    width: 300px;
    height: 472px;
    background-color: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
    border-radius: 300px 300px 0px 0px;
}

.featured-card-2>img {
    width: 370px;
    height: 370px;
    background-color: rgba(5, 151, 160, 0.15);
    padding: 110px 47px 101px 47px;
    border-radius: 300px 300px 0px 0px;
}

.featured-card-3>img {
    width: 314px;
    height: 471px;
    background-color: rgba(71, 125, 17, 0.15);
    padding: 110px 78px 0px 76px;
    border-radius: 300px 300px 0px 0px;
}

.featured-card-title {
    display: flex;
    justify-content: center;
    gap: 330px;
    list-style: none;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-bottom: 125px;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    margin: 0px 230px;
    padding-top: 86px;
    padding-bottom: 88px;
    margin-bottom: 125px;

}

.contact-icon {
    text-align: center;
}

.sale-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    height: 50vh;
    background-color: rgba(229, 84, 115, 0.05);
}

.sale-text>h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 20%;
}

.sale-text>P {
    color: rgba(39, 39, 39, 0.60);
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 18px 0 32px;
}

.social-text {
    text-align: center;
    padding-top: 115px;
    padding-bottom: 45px;
}

.social-text>h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 1%;
}

.social-text>p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

.social-images {
    display: flex;
    justify-content: center;
    gap: 1%;
}

.comment-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color: rgba(239, 239, 239, 1);
    margin-top: 4%;
    margin-bottom: 0px;
}
.comment-text{
    text-align: right;
    padding-right: 7%;
}
.comment-text>h1{
    padding-bottom: 20px;
}
.comment{
    display: flex;
    justify-content: space-around;
    text-align: right;
    gap: 250px;
}
.comment p{
    font-size: 18px;
    font-weight: 500;
    color: rgba(39, 39, 39, 0.60);
}
.star-rating{
    display: flex;
    justify-content: right;
    gap: 450px;
    font-size: 45px;
    padding-bottom: 20px;
}
.cmmentors-name{
    display: flex;
    justify-content: right;
    gap: 600px;
    padding-top: 15px;
}
.comment-image>img{
    width: 800px;
    
}


.connection {
    background-image: url('../assets/Rectangle\ 9.png');
    margin: 5% 12.5%;
    height: 45vh;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}

.connection-items {
    text-align: center;
    padding: 10% 0 2%;
}

.connection-items>h1 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 1%;
}

.connection-items>p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.connection-way {
    display: flex;
    justify-content: center;
    gap: 1%;
}

.connection-way>input {
    width: 46%;
    border: none;
    border-radius: 8px;
    padding-left: 2%;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}

footer {
    background-color: #111010;
    text-align: center;
    height: 23vh;
    padding-top: 150px;
}

footer>h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 800;
    padding-bottom: 24px;
}

footer>p {
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 32px;
}

.copyright-text {
    color: rgba(255, 255, 255, 0.40);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}